:root { 
--primary-text-color: #000;
--primary-bg-color: #fff;
/* Lecture-5 пункт8. Визначити у глобальній області видимості змінні:
	--primary-font-family: 'Roboto', sans-serif; 
	--primary-font-size: 0.875rem;*/
--primary-font-family: 'Roboto', sans-serif; 
--primary-font-size: 0.875rem;
}

footer {
--footer-text-color: #fff;
--fuuter-bg-color: #000;
}
/*Lecture-5 пункт11.Встановіть для тега a властивість text-decoration: none; у файлі css/common.css*/
nav > a {
    text-decoration: none;
}