@import url("https://kit.fontawesome.com/d262357d1a.js");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
      --primary-text-color: #000;
      --primary-bg-color: #fff;
}

footer {
      --footer-text-color: #fff;
      --fuuter-bg-color: #000;
}

body {
      color: var(--primary-text-color);
      background: var(--primary-bg-color);
      font-family:sans-serif;
      font-size: 0.875rem;
     
}
h1,
h2,
h3 {
      font-weight: 700;
}
h1 {
      font-size: 1.45rem;
}
h2 {
      font-size: 1.3rem;
}
.list-unstyled {
      list-style: none;
}
.footer-social {
      padding: 16px;
      color: blue;
}