/*Lecture-5 пункт 7. Виконайте імпорт шрифтів font-awesomeза допомогою правила @import.*/
/* Я думаю ,що js не вважається помилкою?*/
@import url("https://kit.fontawesome.com/d262357d1a.js");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*Lecture-5 пункт 9. Встановити, за допомогою визначених у файлі css/common.css змінних, властивості елемента body:
font-family
font-size*/
@import url(common.css);
html {
      --primary-text-color: #000;
      --primary-bg-color: #fff;
}

footer {
      --footer-text-color: #fff;
      --fuuter-bg-color: #000;
}

body {
      color: var(--primary-text-color);
      background: var(--primary-bg-color);
      /*Lecture-5 пункт 9. Встановити, за допомогою визначених у файлі css/common.css змінних, властивості елемента body:
font-family
font-size*/
      font-family:sans-serif;
      font-size: 0.875rem;
     
}
h1,
h2,
h3 {
      font-weight: 700;
}
h1 {
      font-size: 1.45rem;    
}
h2 {
      font-size: 1.3rem;
}
.list-unstyled {
      list-style: none;
}
.footer-social {
      padding: 16px;
      color: blue;
}
.test-uppercase {
      text-transform: uppercase;        
}
.bg-dark {
      background-color: black;
}
.text-white {
      color: white;  
}
ul.categories li a {
      color: indigo;
      text-decoration: none;
      font-size: 1.2rem;
    }
    ul.categories li a:hover {
      background-color: lightgray;
    }