h1,
h2,
h3 {
   color: gray;
}

#main {
    color: #e60202;
}

h2 {
    color: red;
}
.heading {
    color: green;
}
ul > li {
    font-weight: bold;
}
section > p {
    color: red;
   }
section p {
    font-size: 24px;
}
body > h2:first-of-type {
    color: indigo;
}
/*ВИПРАВЛЕНО застосувати до всіх посилань, нащадкам p.first властивість color green*/
p.first a{
    color: green;
}

p.first {
    font-size: calc;
    text-decoration: dotted;
    font-style: oblique;
}
/* ВИПРАВЛЕНО стилізувати посилання з властивістю color green, що розташовані всередині будь-якого тегу з класом .first, що є нащадком елементу p*/
 
.first a {
    color: green;
}
/* Здається все вірно(<p> є наступними,які слідують за елементом <div>)*/
div + p { 
    color: salmon;
}

.translucent-box {
    background-color: hsl(0, 100%, 50%);
}

    html {
        font-size: 100% ;
}


