


:root {
    --font-family: "DM Sans", sans-serif;
}

body {
    font-family: 'DM Sans';
    font-weight: normal;
    font-style: normal;
    margin: 0; /* Встановлюємо margin: 0, щоб усунути внутрішні відступи */
    padding: 0; /* Встановлюємо padding: 0, щоб усунути зовнішні відступи */
    background-color: #191919;
    width: 1440px;
    height: 5990px;

}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

}
    .header{
      padding: 42px 0;
    
    }
    
    .row {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }

    .logo {
        display: inline-block; /* Устанавливаем тип блочного элемента */
        width: 160px; /* Устанавливаем ширину логотипа */
        height: 33px; /* Устанавливаем высоту логотипа */
        background-image: url('C:\Users\cerem\OneDrive\Рабочий стол\githab-foulder\castaway\img\Baner.png'); /* Устанавливаем изображение фона */
        background-size: cover; /* Растягиваем изображение фона, чтобы оно полностью покрыло область */
        background-repeat: no-repeat; /* Отключаем повторение фона */
    }
    .logo svg {
        width: 159px; /* Устанавливаем ширину SVG */
        height: 32px; /* Устанавливаем высоту SVG */
    }
    
    .menu ul{
        margin: 0;
        padding: 0;
        display: flex;
    }
   .menu ul li{
     list-style: none;
   }
   .menu ul li a{
        display: block;
        color: #fff; 
        margin-right: 20px;
        text-decoration: none;
        transition: all 0.5s ease;
        font-weight: 400;
        font-size: 17px;
        line-height: 159%;
        
    }
    .menu ul li a:hover{
        color: #118DA8;
    }
    
    
    .banner-box{
        background-color: #191919; /* Встановлюємо колір фону для кутів */
        padding: 20px; /* Додаємо внутрішній відступ */
    }
 
    .banner-content {
        max-width: 526px;
        font-weight: 400;
        font-size: 70px;
        line-height: 126%;
        letter-spacing: 0.05em;
    }   


.centered-text-container {
 
    font-weight: 400;
font-size: 70px;
line-height: 126%;
letter-spacing: 0.05em;
color: #fff;
  }


.text-block {
font-weight: 400;
font-size: 75px;
line-height: 117%;
letter-spacing: 0.04em;
color: #fff;

}
.info_social {
width: 245px;
height: 32px;
}
.info_social .info_social_child{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-top: 74px;
    color:#fff;
    margin-top: 16px;
    
}
ul.info_social_list{
    display: flex;
    margin: 0;
    padding: 0;
    
}
ul.info_social_list li{
    list-style: none;
    margin-right: 17px;
    border-radius: 8px;
}
ul.info_social_list li a img{
    transition: all 0.4s ease;
}
ul.info_social_list li a img:hover{
    transform: scale(1.1);
}

/*Наступна секція*/


.episodes-box {
    background-color: #191919; /* Встановлюємо колір фону для кутів */
  padding-top: 93px;
  padding-bottom: 160px;
}


.btn_episodes{
    width: 178px;
    height: 51px;
    background: #118da8;
    border-radius: 6px;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    display: block;
    text-decoration: none;
    transition: all ease 0.5s;
}
.btn_view:hover,
.btn_episodes:hover{
   background: #269db7;
}
.episodes-box h1 {
    margin: 0;
    font-weight: 400;
    font-size: 64px;
    line-height: 124%;
    letter-spacing: 0.05em;
    color: #fff;  

}

.haed-episodes{
    margin-bottom: 40px;
}
.block-section-episodes{
    padding: 40px;
    background: #000;
    border-radius: 32px;
    margin-bottom: 60px;
    align-items: flex-start;
}

.image-section2 {
    max-width: 389px;
    margin-right: 53px;
}

.image-section2 img {
    width: 100%;
    height: 465px;
    padding: 0;
    border-radius: 6px;
}

.episodes-content {
    max-width: 778px;
}

.info_social_child2 {
    background: #191919;
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    margin-bottom: 48px;
}

.info_social_child3{
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    color: #118da8; 
    margin-bottom: 18px;
}
.episode-title{
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0;
    margin-bottom: 28px;
}
.episode-paragraf{
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}
.info_social3{
    border-radius: 6px;
    width: 136px;
    height: 27px;
    background: #191919;
}
.btn_view{
    width: 208px;
    height: 51px;
    background: #118da8;
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 51px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
}




/*секция 3*/
.about{
    padding: 100px 0;
}
.about_information{
 width: 50%;
 padding-right: 80px;
}
.about_images{
    width: 50%;
}
.btn_svg{
    border-radius: 400px;
    width: 112px;
    height: 112px;
    background: #118da8;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn_svg:hover{
    background: #269db7;
}
.about_btn_meet{
    margin-top: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #118da8;
}
.about_information h2{
    font-weight: 400;
    font-size: 65px;
    line-height: 122%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 28px;
    margin-top: 0;
}
.about_information p {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 33px;
}


.row_subscribe {
    border-radius: 32px;
    width: 1300px;
    height: 387px;
    margin: 100px 50px; /* Верх и низ - 100px, Лево и право - 50px */
    background-color: #000; 
}
.title_email ,h2{
    font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #118da8;
margin-top: 60px;
margin-left: 60px;
margin-right: 0px;
}
.title_email ,h3{
font-weight: 400;
font-size: 72px;
line-height: 110%;
letter-spacing: 0.04em;
color: #fff;
width: 431px;
height: 100px;
}

.form_input {
    display: block; /* Устанавливаем элементы в блоки */
    width: 100%; /* Занимаем всю доступную ширину */
    margin-bottom: 10px; /* Добавляем немного отступа между элементами */
    width: 522px;
height: 252px;
margin-left: 618px;
margin-top: 0px;
margin-right: 60px;
}
.form_input_name input[type="name"] {
    border: 1px solid #191919;
    border-radius: 6px;
    width: 522px;
    height: 82px; 
    background: #191919;
    margin-top: 0px;
    margin-right: 60px;
}
.form_input_name input[type="name"][placeholder="Name"] {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
}

.form_input_email input[type="email"] {
    border: 1px solid #191919;
    border-radius: 6px;
    width: 522px;
    height: 82px; 
    background: #191919;
    margin-top: 60px;
    margin-right: 60px;
}

.form_input_email input[type="email"][placeholder="Email"] {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
}
    
.btn_submit {
    border-radius: 6px;
width: 87px;
height: 48px;
background: #118da8;
font-weight: 700;
font-size: 15px;
line-height: 192%;
color: rgba(255, 255, 255, 0.7);
}

/*cекція 4*/
.container_review {
    width: 1300px;
    height: 701px;
    display: flex;
    justify-content: space-between; /* Организуем блоки по ширине */
    flex-direction: column; /* Организуем блоки в столбец */
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}
.row_review {
    display: flex; /* Располагаем блоки внутри строки */
}
.block_review1,
 .block_review2,
 .block_review3,
 .block_review4,
 .block_review5,
 .block_review6 {
    flex: 1;
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 32px;
width: 423px;
height: 321px;
background: #000;
}
.svg {
    margin-top: 50px;
    margin-left: 50px;
    width: 17px;
    height: 18px;
}
.review_text1 p {
    font-weight: 400;
font-size: 24px;
line-height: 120%;
color: rgba(255, 255, 255, 0.7);
}
.review_text1 h5 {
    font-weight: 400;
font-size: 36px;
line-height: 120%;
color: #fff;
width: 313px;
height: 130px;
margin-top: 20px;
margin-left: 50px;
}
.container_footer {
    width: 1400px;
height: 438px;
}
.row_footer {
    display: flex;
    width: 1300px;
height: 238px;
}
.vector_and_social {
width: 447px;
height: 222px;
}
.vector2{
    width: 224px;
    height: 46px;
}
.social_links {
    width: 447px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    stroke-width: 2px;
stroke: #fff;
}

.social_link svg {
    width: 40px;
    height: 40px;
    
}

.list-connect {
    width: 178px;
height: 222px;
    padding: 20px; /* Внутренний отступ */


  }

  .list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

  .list-item {
    font-weight: 400;
font-size: 17px;
line-height: 159%;
color: #fff;
    padding: 8px 0; /* Отступ сверху и снизу */
    border-bottom: 1px solid #eee;
    text-decoration: none;
  }

  /* Стили для ссылок */
  .list-item a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
  }

  .list-item a:hover {
    color:white; /* Цвет текста при наведении */
  }
  .list-connect2{
    width: 178px;
height: 222px;
  }
  .social-media{
    width: 447px;
height: 32px;
    display: flex; /* Добавляем flex-контейнер */
    justify-content: center; /* Выравниваем по горизонтали */
}
  